<!-- Footer -->
<div class="container footer col-md-12">
  <div class="row row-centered">
  <div class="container col-md-2 col-centered">
    <h5 class="white-font">Salesforce Success Community</h5>
    <ul class="footer-links">
      <li><a href="#/" class="white-font footer-links">Answers</a></li>
      <li><a href="#/" class="white-font footer-links">Dreamforce</a></li>
      <li><a href="#/" class="white-font footer-links">Help & Training</a></li>
      <li><a href="#/" class="white-font footer-links">Collaboration</a></li>
      <li><a href="#/" class="white-font footer-links">Ideas</a></li>
      <li><a href="#/" class="white-font footer-links">User Groups</a></li>
      <li><a href="#/" class="white-font footer-links">Known Issues</a></li>
    </ul>
  </div>

  <div class="container col-md-2 col-centered">
    <h5 class="white-font">More Places</h5>
    <ul class="footer-links">
      <li><a href="#/" class="white-font footer-links">Salesforce.com</a></li>
      <li><a href="#/" class="white-font footer-links">AppExchange</a></li>
      <li><a href="#/" class="white-font footer-links">Salesforce Developers</a></li>
  </div>

  <div class="container col-md-2 col-centered">
    <h5 class="white-font">Contact Us</h5>
    <ul class="footer-links">
      <li class="white-font footer-links">1-800-NO-SOFTWARE</li>
      <li class="white-font footer-links">1-800-667-6389</li>
      <li class="white-font footer-links">One Market St.</li>
      <li class="white-font footer-links">Suite 300</li>
      <li class="white-font footer-links">San Francisco, CA 94105</li>
      <li class="white-font footer-links">United States</li>
  </div>

  <div class="container col-md-2 col-centered">
    <h5 class="white-font">Need More Help?</h5>
    <p class="white-font">If you still can't find what you're looking for, try search H&T.<p>

    <button class="footer-btn">Need more Help?</button><br><br><br>

    <p class="white-font">Powered by the Salesforce Communities platform. <a href="#/" class="popular-topics">Learn More ></a></p>
  </div>
  

    <hr style="color: white;"/>
  
  <div class="container col-md-12">
    <div class="row row-centered">
      <div class="col-md-1 col-centered">
        <a href="#/" class="white-font footer-links">Privacy Statement</a>
      </div>
      <div class="col-md-1 col-centered">
        <a href="#/" class="white-font footer-links">Security Statement</a>
      </div>
      <div class="col-md-1 col-centered">
        <a href="#/" class="white-font footer-links">Terms of Use</a>
      </div>
      <div class="col-md-1 col-centered">
        <a href="#/" class="white-font footer-links">Participation Guidelines</a>
      </div>
      <div class="col-md-1 col-centered">
        <span class="white-font footer-links">2000-2015, salesforce.com, inc</span>
      </div>
      <div class="col-md-1 col-centered">
        <select name="language">
          <option value="english">English</option>
          <option value="japanese">Japanese</option>
          <option value="pig-latin">Pig-latin</option>
        </select>
      </div>
    </div>
  </div>

  </div>
</div>