    <header>
      <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/"><img class="pull-left company-logo-img" src="http://i.imgur.com/YRIhuoH.png" title="source: imgur.com" /> SUCCESS community</a>
        </div>

        <ul class="nav navbar-nav navbar-right header-link">
          <li><a href="#/conferences">Answers</a></li>
          <li><a href="#/conferences">Help & Training</a></li>
          <li><a href="#/conferences">Dreamforce</a></li>
          <li><a href="#/conferences">Collaboration</a></li>
          <li><a href="#/conferences">Ideas</a></li>
          <li><a href="#/conferences">User Groups</a></li>
          <li><a href="#/conferences">Trust</a></li>
          <li><a href="#/conferences">Known Issues</a></li>
          <li><a href="#/conferences"><img src="http://i.imgur.com/ORQCCFk.png" title="source: imgur.com" />LOGIN</a></li>
        </ul>

      </div>
      </nav>
    </header>