<ng-include 
  src="app/components/views/searchBar.html"
  [onload="app/components/views/searchBar.html"]
  [autoscroll="app/components/views/searchBar.html"]>
</ng-include>
<!-- Search bar -->
<div class="grey-background">
  <h1 class="text-center white help-training">Help & Training</h1>
  <div class="container white-background">
    <form class="container text-center">
        <button class="browse-docs-btn">browse docs <i class="glyphicon glyphicon-menu-down"></i></button>
        <button type="submit" class="home-btn search-btn"><i class="glyphicon glyphicon-search"></i> search</button>
        <button type="submit" class="home-btn">i'm feeling lucky</button>
      <div style="overflow: hidden; padding-right: .5em;">
        <input type="text" class="form-control search-bar" placeholder="Have a Question? Ask or enter a search term here.">
      </div>
    </form>
  </div>
      <p class="text-below-search">Popular topics: <a href="#/" class="popular-topics">How do I search</a>, <a href="#/" class="popular-topics">Workflow Troubleshooting</a>, <a href="#/" class="popular-topics">Who Sees What Data</a></p>
</div>

<!-- 6 boxes -->
<div class="container col-md-12 total-boxes">
  <div class="row">
    <div class="col-md-4 text-center each-box">
      Getting Started
    </div>
    <div class="col-md-4 text-center each-box">
      Success Community
    </div>
    <div class="col-md-4 text-center each-box">
      Documentation
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center each-box">
      Technical Support
    </div>
    <div class="col-md-4 text-center each-box">
      Training & Certification
    </div>
    <div class="col-md-4 text-center each-box">
      Billing & Invoicing
    </div>
  </div>
</div>

<!--Top Solutions-->

<div class="container col-md-12">
  <h3>Top Solutions</h3>
 <span class="browse-docs-btn browse-all-btn">browse all <i class="glyphicon glyphicon-menu-right"></i></span>
  <div class="row">
    <div class="col-md-4 each-solutions-box">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn how to reset your password</a>
    </div>
    <div class="col-md-4 each-solutions-box">
      <i class="glyphicon glyphicon-play blue"></i> <a href="#/">Watch a video tutorial on Salesforce for Outlook Sync</a>
    </div>
    <div class="col-md-4 each-solutions-box">
      <i class="glyphicon glyphicon-play blue"></i> <a href="#/">Watch video on Who Sees What Data</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 each-solutions-box">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn about Data Import How To's</a>
    </div>
    <div class="col-md-4 each-solutions-box">
      <i class="glyphicon glyphicon-play blue"></i> <a href="#/">Watch video on Troubleshooting Workflow</a>
    </div>
    <div class="col-md-4 each-solutions-box">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn about inline editing in List View</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 each-solutions-box">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn about Hints & Tips for a Successful Integration</a>
    </div>
    <div class="col-md-4 each-solutions-box">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn how Organization Administrators can login as any User</a>
    </div>
    <div class="col-md-4 each-solutions-box">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn how to Rename and recreate Microsoft Outlook data (.OST) file</a>
    </div>
  </div>
</div>

<!-- Additional Help & Training -->
<div class="col-md-12 grey additional-help-container">
  <div class="container-fluid grey">
  <h3>Additional Help & Training</h3>
    <div class="row-fluid">
      <div class="col-md-1">
        
      </div>
      <div class="col-md-3 additional-help-box margin-right">
        <h5 class="blue help-training">CATEGORY TYPE</h5>
        <h3 class="blue help-training">Lorem Ipsum Dolor Sit</h3>
        <p>Lorem ipsum dolor sit amet, vis cu pericula referrentur. Id vix velit fierent insolens. Ex usu dolore delicata, est ei vero phaedrum postulant. Quidam mentitum in ius, ei fugit scripta meliore pro, ea sit stet legere sadipscing. Ex sit stet urbanitas.</p>
        <br><br>
        <button class="home-btn">call to action</button>
      </div>
      <div class="col-md-3 additional-help-box margin-right">
        <h5 class="blue help-training">CATEGORY TYPE</h5>
        <h3 class="blue help-training">Lorem Ipsum Dolor Sit</h3>
        <p>Lorem ipsum dolor sit amet, vis cu pericula referrentur. Id vix velit fierent insolens. Ex usu dolore delicata, est ei vero phaedrum postulant. Quidam mentitum in ius, ei fugit scripta meliore pro, ea sit stet legere sadipscing. Ex sit stet urbanitas.</p>
        <br><br>
        <button class="home-btn">call to action</button>
      </div>
      <div class="col-md-3 additional-help-box">
        <h5 class="blue help-training">CATEGORY TYPE</h5>
        <h3 class="blue help-training">Lorem Ipsum Dolor Sit</h3>
        <p>Lorem ipsum dolor sit amet, vis cu pericula referrentur. Id vix velit fierent insolens. Ex usu dolore delicata, est ei vero phaedrum postulant. Quidam mentitum in ius, ei fugit scripta meliore pro, ea sit stet legere sadipscing. Ex sit stet urbanitas.</p>
        <br><br>
        <button class="home-btn">call to action</button>
      </div>
      <div class="col-md-2">
        
      </div>

  </div>
  <button class="browse-docs-btn bottom-right">title of next card <i class="glyphicon glyphicon-menu-right"></i></button>
  </div>
</div>


<!-- Upgrade Statement -->
<br class="clear">
<div class="blue-background">
  <div class="container margin-bottom margin-top">
    <div class="container col-md-6">
      <h1 class="white-font upgrade-statement-text">Upgrade Statement</h1>
      <p class="white-font upgrade-statement-text">Lorem ipsum dolor sit amet, vis cu pericula referrentur. Id vix velit fierent insolens. Ex usu dolore delicata, est ei vero phaedrum postulant.</p>
      <button class="white-btn upgrade-statement-text">lorem ipsum</button>
    </div>
    <img class="upgrade-statement-img" src="http://i.imgur.com/rHOUJLx.png" title="image-to-be-filled-in" />
  </div>
</div>

<!-- Footer -->
<div class="container footer col-md-12">
  <div class="row">
  <div class="container col-md-3">
    <h5 class="white-font">Salesforce Success Community</h5>
    <ul class="footer-links">
      <li><a href="#/" class="white-font footer-links">Answers</a></li>
      <li><a href="#/" class="white-font footer-links">Dreamforce</a></li>
      <li><a href="#/" class="white-font footer-links">Help & Training</a></li>
      <li><a href="#/" class="white-font footer-links">Collaboration</a></li>
      <li><a href="#/" class="white-font footer-links">Ideas</a></li>
      <li><a href="#/" class="white-font footer-links">User Groups</a></li>
      <li><a href="#/" class="white-font footer-links">Known Issues</a></li>
    </ul>
  </div>

  <div class="container col-md-3">
    <h5 class="white-font">More Places</h5>
    <ul class="footer-links">
      <li><a href="#/" class="white-font footer-links">Salesforce.com</a></li>
      <li><a href="#/" class="white-font footer-links">AppExchange</a></li>
      <li><a href="#/" class="white-font footer-links">Salesforce Developers</a></li>
  </div>

  <div class="container col-md-3">
    <h5 class="white-font">Contact Us</h5>
    <ul class="footer-links">
      <li class="white-font footer-links">1-800-NO-SOFTWARE</li>
      <li class="white-font footer-links">1-800-667-6389</li>
      <li class="white-font footer-links">One Market St.</li>
      <li class="white-font footer-links">Suite 300</li>
      <li class="white-font footer-links">San Francisco, CA 94105</li>
      <li class="white-font footer-links">United States</li>
  </div>

  <div class="container col-md-3">
    <h5 class="white-font">Need More Help?</h5>
    <p class="white-font">If you still can't find what you're looking for, try search H&T.<p>

    <button class="footer-btn">Need more Help?</button><br><br><br>

    <p class="white-font">Powered by the Salesforce Communities platform. <a href="#/" class="popular-topics">Learn More ></a></p>
  </div>
  
  <hr style="color: white;"/>

  <div class="container col-md-12">
    <div class="row">
      <div class="col-md-2">
        <a href="#/" class="white-font footer-links">Privacy Statement</a>
      </div>
      <div class="col-md-2">
        <a href="#/" class="white-font footer-links">Security Statement</a>
      </div>
      <div class="col-md-2">
        <a href="#/" class="white-font footer-links">Terms of Use</a>
      </div>
      <div class="col-md-2">
        <a href="#/" class="white-font footer-links">Participation Guidelines</a>
      </div>
      <div class="col-md-2">
        <span class="white-font footer-links">2000-2015, salesforce.com, inc</span>
      </div>
      <div class="col-md-2">
        <button>Language</button>
      </div>
    </div>
  </div>

  </div>
</div>