img.company-logo-img {
 
  float: left;
  position: relative;
  top: -10px;
  z-index: 99;
  padding:0;
}

.header-link a:hover {
  border-bottom: 3px solid #1079B9;
}

/* test css*/
.search {
  position: relative;
  width:200;
}

.search input {
  width:194px;
}

.search button {
  position: absolute;
  top:0px;
  right: 0px;
  margin:3px 0px;
}

/* END test css*/

.pull-left {
  float: left !important;
  padding: 0;
  border: 0;
  margin: 0;
}

.grey-background {
  background-color: grey;
  padding: 2% 0 2% 0;
  border: 0;
  margin: 0;
}

.white {
  color: white;
}

.blue {
  color: #1079B9;
}

.blue-background {
  background-color: #1079B9; 
}

.grey {
  background-color: #F4F4F4;
}

.help-training {
  font-family: 'Lato', sans-serif;
}

.search-btn {
  margin: 0;
  /* Put this inside the text box*/
}

/* These two are the same, should consider making them same class.*/
.home-btn {
  margin: 0;
  text-transform: uppercase;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: #1079B9;
  color: white;
  padding: 5px 10px;
  text-shadow: none;
  border: none;
  box-shadow: none;
}

.search-bar {
  overflow: hidden;
  width: 100%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.white-background {
  background-color: white;
  padding: 2% 0 2% 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.text-below-search {
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.popular-topics:active, .popular-topics:visited, .popular-topics:link {
  text-decoration: none;
  color: white;
}

.popular-topics:hover {
  text-decoration: none;
  color: black;
}

.browse-docs-btn {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  overflow: hidden;
  outline: none;
  color: #1079B9;

}

.browse-all-btn {
  position: absolute;
  top: 11%;
  right: 15%;
}

/* START 6-boxes */
.total-boxes {
  margin: 20px 0 20px 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.each-box {
  height: 150px;
  line-height:50px;
  border: thin solid;
  padding: 25px;
  border-bottom: thick solid #1079B9;
}

.each-box-margin-bottom {
  margin-bottom: 10px;
}

.container-6-box {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.hidden-box {
  position: absolute;
  top:98%;
  left: 0;
  background-color: #1079B9;
  color: white;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hidden-box-text {
  margin:5% 5% 0 5%;
  font-size: 15px;
  line-height: 100%;
}

.action-6-box-btn {
  text-transform: uppercase;
  font-size: 10px;
  color: white;
}

.action-6-box-btn:visited {
  color: white;
  text-decoration: none;
}

.container-6-box:hover .hidden-box {
  animation: up-bump 0.4s ease;
  top: 30%;
}

/* END 6-boxes */

/* START topSolutions */
.each-solutions-box {
  margin: 1% 0 1% 0;
}

.my-tooltip{
    display: inline;
    position: relative;
}

.my-tooltip:hover:after{
    background-color: #fff;
    border-color: black;  
    border-radius: 5px;
    bottom: 26px;
    color: #000;
    content: attr(tooltip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.my-tooltip:hover:before{
    border: solid;
    border-color: #000 transparent;
    background-color: #fff;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
            

/* END topSolutions */

.additional-help-container {
  padding: 30px 0 50px 0;
}

.additional-help-box {
  background-color: #EDEDED;
  margin: 20px 0 20px 0;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    vertical-align: top;
}

.bottom-right {
  position: absolute;
  bottom: 5%;
  right: 15%;
}


.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-bottom {
  margin-bottom: 1px;
}

.margin-top {
  margin-top: 50px;
}

.clear {
  clear: both;
  line-height: 0;
}

.white-font {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.white-btn {
  margin: 0 auto;
  float: left;
  text-transform: uppercase;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background-color: white;
  color: #1079B9;
  padding: 12.5px 25px;
  text-shadow: none;
  border: none;
  box-shadow: none;
}

.footer-links:link, .footer-links:active, .footer-links:visited {
  color: white;
  text-decoration: none;
}

.footer-links:hover {
  color:black;
  text-decoration: none;
}

.footer-links li {
  list-style-type: none;
}


img.upgrade-statement-img {
/*background-image: url("/assets/img/upgrade-statement-img.png");
  background-attachment: fixed;
  background-position: right top;
  background-repeat: no-repeat;*/  
  float: right;
  position: relative;
  top: -38px;
  z-index: 99;

}

.upgrade-statement-text {
  bottom: 30px;
  margin-left: 40%;
}

.footer {
  margin: 3% 0 3% 0;
  background-color: grey;
  margin: 0;
  padding: 0;
  border: 0;
}

.footer-btn {
  margin: 0 auto;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #EDEDED;
  color: black;
  padding: 5px 10px;
  text-shadow: none;
  border: none;
  box-shadow: none;
}

.top {
  top: 0;
}
