<!-- Additional Help & Training -->
<div class="col-md-12 grey additional-help-container">
  <div class="container grey">
  <h3>Additional Help & Training</h3>
    <div class="row row-centered">
      <div class="col-md-3 additional-help-box margin-right col-centered">
        <h5 class="blue help-training">CATEGORY TYPE</h5>
        <h3 class="blue help-training">Lorem Ipsum Dolor Sit</h3>
        <p>Lorem ipsum dolor sit amet, vis cu pericula referrentur. Id vix velit fierent insolens. Ex usu dolore delicata, est ei vero phaedrum postulant. Quidam mentitum in ius, ei fugit scripta meliore pro, ea sit stet legere sadipscing. Ex sit stet urbanitas.</p>
        <br><br>
        <button class="home-btn">call to action</button>
      </div>
      <div class="col-md-3 additional-help-box margin-right col-centered">
        <h5 class="blue help-training">CATEGORY TYPE</h5>
        <h3 class="blue help-training">Lorem Ipsum Dolor Sit</h3>
        <p>Lorem ipsum dolor sit amet, vis cu pericula referrentur. Id vix velit fierent insolens. Ex usu dolore delicata, est ei vero phaedrum postulant. Quidam mentitum in ius, ei fugit scripta meliore pro, ea sit stet legere sadipscing. Ex sit stet urbanitas.</p>
        <br><br>
        <button class="home-btn">call to action</button>
      </div>
      <div class="col-md-3 additional-help-box col-centered">
        <h5 class="blue help-training">CATEGORY TYPE</h5>
        <h3 class="blue help-training">Lorem Ipsum Dolor Sit</h3>
        <p>Lorem ipsum dolor sit amet, vis cu pericula referrentur. Id vix velit fierent insolens. Ex usu dolore delicata, est ei vero phaedrum postulant. Quidam mentitum in ius, ei fugit scripta meliore pro, ea sit stet legere sadipscing. Ex sit stet urbanitas.</p>
        <br><br>
        <button class="home-btn">call to action</button>
      </div>

  </div>
  <span class="browse-docs-btn bottom-right"><a href="#/">title of next card <i class="glyphicon glyphicon-menu-right"></i></a></span>
  </div>
</div>