<!-- 6 boxes -->
<div class="container col-md-12 total-boxes">
  <div class="row row-centered">
    <div class="6-box-container col-md-3 text-center each-box col-centered margin-right each-box-margin-bottom box-1">
      Getting Started
      <div class="hidden-box">
        <p>Learn about the four main steps of the implementation process.</p>

        <a href="#/" class="6-box-action-btn">learn more <i class="glyphicon glyphicon-menu-right"></i></a>
        <a href="#/" class="6-box-action-btn">join the group <i class="glyphicon glyphicon-menu-right"></i></a>
      </div>
    </div>
    <div class="col-md-3 text-center each-box col-centered margin-right box-2">
      Success Community
    </div>
    <div class="col-md-3 text-center each-box col-centered margin-right box-3">
      Documentation
    </div>
  </div>
  <div class="row row-centered">
    <div class="col-md-3 text-center each-box col-centered margin-right box-4">
      Technical Support
    </div>
    <div class="col-md-3 text-center each-box col-centered margin-right box-5">
      Training & Certification
    </div>
    <div class="col-md-3 text-center each-box col-centered margin-right box-6">
      Billing & Invoicing
    </div>
  </div>
</div>