<!-- 6 boxes -->
<div class="container col-md-12 total-boxes">
  <div class="row row-centered">
    <div class="col-md-3 text-center each-box col-centered margin-right each-box-margin-bottom">
      Getting Started
    </div>
    <div class="col-md-3 text-center each-box col-centered margin-right">
      Success Community
    </div>
    <div class="col-md-3 text-center each-box col-centered margin-right">
      Documentation
    </div>
  </div>
  <div class="row row-centered">
    <div class="col-md-3 text-center each-box col-centered margin-right">
      Technical Support
    </div>
    <div class="col-md-3 text-center each-box col-centered margin-right">
      Training & Certification
    </div>
    <div class="col-md-3 text-center each-box col-centered margin-right">
      Billing & Invoicing
    </div>
  </div>
</div>