<!--Top Solutions-->

<div class="container col-md-12">
  
  <div class="container">
    <h3>Top Solutions</h3>
  </div>

 <span class="browse-docs-btn browse-all-btn"><a href="#/">browse all <i class="glyphicon glyphicon-menu-right"></i></a></span>
  <div class="row row-centered">

    <div class="col-md-3 each-solutions-box col-centered">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/" title="Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.">Learn how to reset your password</a>

    </div>

    <div class="col-md-3 each-solutions-box col-centered">
      <i class="glyphicon glyphicon-play blue"></i> <a href="#/">Watch a video tutorial on Salesforce for Outlook Sync</a>
    </div>

    <div class="col-md-3 each-solutions-box col-centered">
      <i class="glyphicon glyphicon-play blue"></i> <a href="#/">Watch video on Who Sees What Data</a>

    </div>

  </div>
  
  <div class="row row-centered">
    
    <div class="col-md-3 each-solutions-box col-centered">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn about Data Import How To's</a>
    </div>
    
    <div class="col-md-3 each-solutions-box col-centered">
      <i class="glyphicon glyphicon-play blue"></i> <a href="#/">Watch video on Troubleshooting Workflow</a>
    </div>
    
    <div class="col-md-3 each-solutions-box col-centered">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn about inline editing in List View</a>
    </div>
  
  </div>
  
  <div class="row row-centered">
    
    <div class="col-md-3 each-solutions-box col-centered">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn about Hints & Tips for a Successful Integration</a>
    </div>
    
    <div class="col-md-3 each-solutions-box col-centered">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn how Organization Administrators can login as any User</a>
    </div>
    
    <div class="col-md-3 each-solutions-box col-centered">
      <i class="glyphicon glyphicon-file blue"></i> <a href="#/">Learn how to Rename and recreate Microsoft Outlook data (.OST) file</a>
    </div>
  
  </div>
</div>
