<!-- Upgrade Statement -->
<br class="clear">
<div class="blue-background">
  <div class="container margin-bottom margin-top">
    <div class="container col-md-6">
      <h1 class="white-font upgrade-statement-text">Upgrade Statement</h1>
      <p class="white-font upgrade-statement-text">Lorem ipsum dolor sit amet, vis cu pericula referrentur. Id vix velit fierent insolens. Ex usu dolore delicata, est ei vero phaedrum postulant.</p>
      <button class="white-btn upgrade-statement-text">lorem ipsum</button>
    </div>
    <img class="upgrade-statement-img" src="http://i.imgur.com/rHOUJLx.png" title="image-to-be-filled-in" />
  </div>
</div>
